// @import "./normalize.scss";
@import "./normalize2.scss";
@import "./config.scss";
@import "./elementui.scss"; 

.pull-left{float: left;}
.pull-right{float: right;}

.blank_space_30{height: 30px;}

